body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 dark:bg-gray-900 dark:text-white;
}
.dark * {
  border-color: rgba(255, 255, 255, 0.1);
}

button,
input,
textarea,
select {
  &:focus {
    outline: none;
  }
}

option {
  @apply bg-gray-100 dark:bg-gray-700;
}

.v-remixicon {
  display: inline-block;
}
